[Unit]
Description=Daily restart for Minecraft server %I to clear ram and help reduce lag
After=minecraftd@%i.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=multi-user.target